<div id="game-list-screen">
	<app-game-search (onSearchResults)="onSearchResults($event)"></app-game-search>

	<div *ngIf="!isSearchResult" id="filters">
		<label>Ordenar por:</label>
		<button (click)="sortGameListByPopularity()">Popularidade</button>
		<button (click)="sortGameListByViewers()">Visualizações</button>
	</div>

	<ul
		class="games row"
	>
		<li
			*ngFor="let game of games"
			(click)="onSelect(game)"
			class="col col-4 col-md-3"
		>
			<div class="inner" *ngIf="!isSearchResult">
				<img class="d-lg-none"         src="{{ game.game.box.medium }}" alt="{{ game.game.name }}" />
				<img class="d-none d-lg-block" src="{{ game.game.box.large }}"  alt="{{ game.game.name }}" />
				<span class="title">{{ game.game.name }}</span>
			</div>
			<div class="inner" *ngIf="isSearchResult">
				<img class="d-lg-none"         src="{{ game.box.medium }}" alt="{{ game.name }}" />
				<img class="d-none d-lg-block" src="{{ game.box.large }}"  alt="{{ game.name }}" />
				<span class="title">{{ game.name }}</span>
			</div>
		</li>
	</ul>

	<div class="text-center" *ngIf="games">
		<button id="load-more-btn" (click)="loadMore()">Carregar mais</button>
	</div>
</div>

<app-game-detail
	[selectedGame]="selectedGame"
	(onDeselectGame)="onDeselectGame($event)"
></app-game-detail>

<div id="overlay" [class.visible]="selectedGame !== undefined" (click)="onDeselectGame()"></div>