#game-list-screen {

	ul.games {
		list-style-type: none;
		margin-bottom: 0;
		padding: 0 6px;

		@media screen and (min-width: 768px) {
			padding: 0;
		}

		li {
			cursor: pointer;
			margin: 0 0 12px;
			overflow: hidden;
			padding: 0 6px;
			position: relative;

			@media screen and (min-width: 768px) {
				margin: 0 0 16px;
				padding: 0 8px;
			}

			.inner {
				position: relative;
				
				img {
					backface-visibility: hidden;
					position: relative;
					transition: opacity .2s ease;
					width: 100%;
					z-index: 1;
				}

				.title {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					padding: 4px;
					background-color: rgba(0, 0, 0, .75);
					color: white;
					font-size: 9px;
					text-align: center;
					text-transform: uppercase;
					word-break: break-word;
					z-index: 2;

					@media screen and (min-width: 768px) {
						font-size: 14px;
						padding: 8px;
					}

					@media screen and (min-width: 1024px) {
						font-size: 16px;
					}
				}
			}

			&:hover {

				.inner {
					
					img {
						opacity: .5
					}

					.title {
						bottom: 0;
					}
				}
			}
		}
	}

	#filters {
		display: flex;
		align-items: center;
		margin-bottom: 15px;

		label {
			font-size: 12px;
			margin: 0;
		}

		button {
			background-color: rgb(27, 167, 227);
			border: none;
			border-radius: 4px;
			color: white;
			cursor: pointer;
			font-size: 12px;
			height: 24px;
			line-height: 24px;
			margin-left: 8px;
			outline: none;
			padding: 0 12px;
			transition: opacity .2s ease;

			&:hover {
				opacity: .75;
			}
		}

		@media screen and (min-width: 768px) {

			label {
				font-size: 14px;
			}

			button {
				font-size: 14px;
				height: 30px;
				margin-left: 12px;
				padding: 0 20px;
			}
		}
	}

	#load-more-btn {
		background-color: rgb(0, 202, 218);
		border: none;
		border-radius: 4px;
		color: white;
		font-size: 14px;
		height: 34px;
		line-height: 34px;
		margin-bottom: 12px;
		outline: none;
		padding: 0 20px;

		@media screen and (min-width: 768px) {
			font-size: 18px;
			height: 42px;
			line-height: 42px;
			margin-bottom: 16px;
			padding: 0 38px;
		}
	}
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 8;
	background-color: rgba(0, 0, 0, .75);
	top: 0;
	left: 0;
	cursor: pointer;

	&.visible {
		display: block;
	}
}