<div id="search-component">
	<div class="search-input-wrapper">
		<input type="search" #searchBox id="search-box" (keyup)="search(searchBox.value)" placeholder="Buscar" />
		<i class="fa fa-search"></i>
	</div>
</div>