/* GameSearch private styles */
#search-component {
	margin: 0 -4px 15px;
	padding-top: 15px;
	
	@media screen and (min-width: 768px) {
		margin-left: -8px;
		margin-right: -8px;
	}

	.search-input-wrapper {
		background-color: rgb(245, 245, 246);
		border-radius: 4px;
		display: flex;
		align-items: center;
		padding: 10px;

		@media screen and (min-width: 768px) {
			padding: 12px;
		}

		#search-box {
			background-color: transparent;
			border-width: 0;
			color: rgb(130, 130, 129);
			font-size: 12px;
			outline: none;
			padding: 0;
			width: 100%;

			@media screen and (min-width: 768px) {
				font-size: 14px;
			}

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: rgb(192, 192, 212);
			}
			&::-moz-placeholder { /* Firefox 19+ */
				color: rgb(192, 192, 212);
			}
			&:-ms-input-placeholder { /* IE 10+ */
				color: rgb(192, 192, 212);
			}
			&:-moz-placeholder { /* Firefox 18- */
				color: rgb(192, 192, 212);
			}
		}

		i {
			color: rgb(130, 130, 129);
			margin-left: 10px;

			@media screen and (min-width: 768px) {
				margin-left: 12px;
			}
		}
	}
}