/* Application-wide Styles */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import "./assets/font-awesome/css/font-awesome.min.css";

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}