<div id="game-details-screen" [class.visible]="selectedGame !== undefined">
	<div *ngIf="selectedGame">
		<div class="game-title">
			<button (click)="deselectGame()" class="fa fa-angle-left d-sm-block d-md-none"></button>
			<h2>{{ selectedGame.game.name }}</h2>
			<button (click)="deselectGame()" class="fa fa-times d-none d-md-block times"></button>
		</div>
		<div class="game-details">
			<img src="{{ selectedGame.game.box.large }}" alt="{{ selectedGame.game.name }}" class="d-sm-block d-md-none" />
			<img src="{{ selectedGame.game.box.template.replace('{width}', '768').replace('{height}', '1072') }}" alt="{{ selectedGame.game.name }}" class="d-sm-none d-md-block" />
			<div class="info">
				<h3>{{ selectedGame.game.name }}</h3>
				<span *ngIf="selectedGame.viewers">{{ selectedGame.viewers }} visualizações</span>
				<span *ngIf="selectedGame.viewers">{{ selectedGame.channels }} canais ao vivo</span>
				<span>{{ selectedGame.game.popularity }} popularidade</span>
			</div>
		</div>
	</div>
</div>