/* HeroDetailComponent's private CSS styles */
#game-details-screen {
	display: none;
	height: 100%;
	width: 100%;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;

	&.visible {
		display: block;
	}

	> div {
		height: 100%;
	}

	.game-title {
		background-color: rgb(0, 202, 218);
		color: white;
		display: flex;
		align-items: center;
		padding: 0 12px;
		min-height: 42px;
		position: relative;
		z-index: 2;

		button {
			background-color: transparent;
			border-width: 0;
			color: white;
			cursor: pointer;
			font-size: 28px;
			margin-right: 32px;
			padding: 0;

			&.times {
				font-size: 20px;
				margin-right: 0;
			}
		}

		h2 {
			font-size: 16px;
			padding: 0;
			margin: 0;
		}
	}

	.game-details {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		
		img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}

		.info {
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: rgba(0, 0, 0, .75);
			color: white;
			padding: 16px;
			text-align: center;
			width: 100%;

			h3 {
				font-size: 16px;
				margin-bottom: 16px;
			}

			span {
				display: block;
				font-size: 12px;
				margin-bottom: 4px;
			}
		}
	}

	@media screen and (min-width: 768px) {
		width: auto;
		height: calc(100% - 70px);
		top: 15px;
		left: 50%;
		transform: translateX(-50%);

		.game-title {
			justify-content: space-between;
		}

		.game-details {
			position: relative;
		}
	}
}